*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}
header{
    width:100%;
    height:2.49rem;
    position: fixed;
    top: 0;
    left: 0;
    background:#ff6e6e;
    padding-left: 0.24rem;
    padding-right: 0.24rem;
}
header ul {
    width:7.06rem;
    height: 0.73rem;
    display: flex;
    justify-content: space-between;
}
header ul li{
    width: 2.2rem;
    height: 100%;
}
header .information {
    width:7rem ;
    height:1.99rem ;
    background:white   ;
    margin: 0.8rem auto;
    border-radius: 0.2rem;
}
header .information img{
    margin-left: 0.2rem;
    margin-top: 0.1rem;
}
.then{
    width: 7rem;
    height: 12rem;
    margin:-0.5rem 0 ;
}
.footer{
    width: 100%;
    height: 0.98rem;
    position: fixed;
    left: 0;
    bottom: 0;
    padding-left: 0.24rem;
    padding-right: 0.24rem;
}
.footer li{
    width: 1.33rem;
    height: 0.98rem;
    float: left;
    margin-left: 0.56rem;
    background: pink   ;
}
.footer li:nth-child(1) {
    margin-left: 0;
}
/*.footer a{*/
    /*display: block; */
/*}*/
/*.footer li img{*/
    /*display: block;*/
    /*width: 0.54rem;*/
    /*height: 0.75rem;*/
    /*margin: 0.15rem auto ;*/
/*}*/