*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}
header{
    width: 7.5rem;

}
header img{
    width:7.5rem ;
    height: 12rem;
    position: fixed;
    top: 0;
    left: 0;

}
.background {
    width: 5.71rem;
    height: 8rem;
    background: #faf9f8;
    position: fixed;
    top: 1.5rem;
    left: 0.9rem;
}
header .head{
    width: 1.94rem;
    height: 1.94rem;
    border-radius:1.94rem ;
    background: #5ae8cd ;
    position: fixed;
    top: 1rem;
    left: 2.8rem;
}
header .head img{
    width: 2rem;
    height:2rem;
    margin: 1rem 2.8rem;
}

header .logo1 {
    width: 1rem;
    height: 1rem;
    /*background: #5ae8cd ;*/
    position: fixed;
    bottom:0.1rem;
    left: 1.1rem;
    z-index: 3;
}
header .logo1 img{
    width: 0.71rem;
    height: 0.71rem;
    margin: 10rem 1rem;
}
header .logo2 {
    width: 1rem;
    height: 1rem;
    /*background: #5ae8cd ;*/
    position: fixed;
    bottom:0.1rem;
    left: 3.3rem;
    z-index: 3;
}
header .logo2 img{
    width: 0.75rem;
    height: 0.75rem;
    margin: 10rem 3.3rem;
}
header .logo3 {
    width: 1rem;
    height: 1rem;
    /*background: #5ae8cd ;*/
    position: fixed;
    bottom:0.1rem;
    left: 5.5rem;
    z-index: 3;
}
header .logo3 img{
    width: 0.71rem;
    height: 0.71rem;
    margin: 10rem 5.6rem;
}

.background  .box1 li{
    width: 100%;
    height: 0.7rem;
    background: #ff6e6e ;
    margin-top: 0.05rem;
}
.background .box1 li:nth-child(1){
    margin-top: 1.5rem;
}
.background  .box2 li{
    width: 100%;
    height: 1rem;
    background: blue  ;
    margin-top: 0.05rem;
}
.background .box2 li:nth-child(1){
    margin-top: 0.4rem;
}
